{% extends "base_template/base.html" %}
{% block content %}
                    <div class="block-content">
                        <h3 class="block-title">Новости {% if current_user.is_authenticated %}<a class="btn" style="left: 550px;" href="{{ url_for('add_news') }}">Добавить</a>{% endif %}</h3>
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                 {% for new in news %}
                                <div class="post">
                                    <div class="post-thumbnail">
                                        <a class="open-post" href="/news/{{ new.id }}">
                                            <img src="{{ image + new.image }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <a class="open-post" href="/news/{{ new.id }}"><h2>{{ new.name}}</h2></a>
                                        <p class="post-info">
                                            <span class="post-author">{{ new.author }}</span>
                                            <span class="slash"></span>
                                            <span class="post-date">{{ new.date }} </span>
                                            <span class="slash"></span>
                                            <span class="post-catetory">{{ new.category }}</span>
                                        </p>
                                    </div>
                                    <div class="post-body">
                                        <p>{{ new.small_description }}</p>
                                        <a class="btn open-post" href="/news/{{ new.id }}">подробнее</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

{% endblock %}